{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section class="ur-bar ur-bar--gray ur-about">
  <div class="ur-wrap ur-about__inner">
    {{ with .Site.Params.about.icon }}
      <div class="ur-about__icon"><i class="{{ . }}" aria-hidden="true"></i></div>
    {{ end }}
    <h2 class="ur-about__title">{{ .Site.Params.about.title | markdownify }}</h2>
    {{ with .Site.Params.about.subtitle }}<p class="ur-lead">{{ . | markdownify }}</p>{{ end }}
    {{ with .Site.Params.about.subtitle2 }}<p class="ur-lead">{{ . | markdownify }}</p>{{ end }}
    {{ with .Site.Params.about.cta_text }}
      <a class="ur-btn ur-btn--lg" href="{{ default "#" $.Site.Params.about.cta_url }}">{{ . }}</a>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
