{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if isset .Site.Data "features" }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="ur-bar ur-bar--white ur-features">
  <div class="ur-wrap">
    <div class="ur-heading">
      {{ with .Site.Params.features.eyebrow }}<span class="ur-heading__eyebrow">{{ . }}</span>{{ end }}
      <h2 class="ur-heading__title">{{ default (i18n "ourServices") .Site.Params.features.title | markdownify }}</h2>
    </div>
    {{ with .Site.Params.features.subtitle }}
      <p class="ur-lead">{{ . | markdownify }}</p>
    {{ end }}

    {{ $cols := default 3 .Site.Params.features.cols }}
    <div class="ur-features__grid ur-features__grid--{{ $cols }}">
      {{ range $i, $f := sort .Site.Data.features "weight" }}
        {{ if $f.url }}<a class="ur-feature" href="{{ $f.url }}">{{ else }}<div class="ur-feature">{{ end }}
          <div class="ur-feature__icon">
            <i class="{{ default "fas fa-star" $f.icon }}" aria-hidden="true"></i>
          </div>
          <h3 class="ur-feature__title">{{ $f.name | markdownify }}</h3>
          <p class="ur-feature__desc">{{ $f.description | markdownify }}</p>
          {{ if $f.url }}<span class="ur-feature__link">{{ i18n "learnMore" | default "Learn more" }} <i class="fas fa-arrow-right" aria-hidden="true"></i></span>{{ end }}
        {{ if $f.url }}</a>{{ else }}</div>{{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
