{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="ur-bar ur-cta">
  <div class="ur-wrap ur-cta__inner">
    {{ with .Site.Params.see_more.icon }}
      <div class="ur-cta__icon"><i class="{{ . }}" aria-hidden="true"></i></div>
    {{ end }}
    {{ with .Site.Params.see_more.title }}<p class="ur-cta__eyebrow">{{ . | markdownify }}</p>{{ end }}
    {{ with .Site.Params.see_more.title2 }}<h2 class="ur-cta__title">{{ . | markdownify }}</h2>{{ end }}
    {{ with .Site.Params.see_more.subtitle }}<p class="ur-lead">{{ . | markdownify }}</p>{{ end }}

    <div class="ur-cta__actions">
      {{ with .Site.Params.see_more.link_url }}
      <a class="ur-btn ur-btn--lg" href="{{ . }}">{{ default "Learn more" $.Site.Params.see_more.link_text | markdownify }}</a>
      {{ end }}
      {{ with .Site.Params.see_more.link2_url }}
      <a class="ur-btn ur-btn--ghost ur-btn--lg" href="{{ . }}">{{ default "More" $.Site.Params.see_more.link2_text | markdownify }}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
